{% extends 'course/base.html' %}

{% block content %}


<h1 style="text-align: center;"> Товары</h1>
<div class="card" style="width: 18rem;">
    {% if product.photo %}
    <img src="{{ product.photo.url }}" width="200px" height="200px" >
    {% else %}
    <p>Фото отсутсвтует!</p>
    {% endif %}

    
    <h1>{{product.name}}</h1>
    <p> Цена: <strong> {{product.price}} </strong> </p>
    <p> Описание: <strong> {{product.description}} </strong> </p>
    <p> Брэнд: <strong> {{product.brand}} </strong> </p>
    {% if user.is_authenticated %}
    <a href = "{% url 'product_edit' product.id %}" class = 'btn btn-primary'>Change/Изменить</a>
    {% endif%}

{% endblock %}


